<h1>Welcome to EZproxy</h1>
<p>Browse by Resource:</p>
<h2>
<%= link_to "A", resource_path("byletter/A") %>
<%= link_to "B", resource_path("byletter/B") %>
<%= link_to "C", resource_path("byletter/C") %>
<%= link_to "D", resource_path("byletter/D") %>
<%= link_to "E", resource_path("byletter/E") %>
<%= link_to "F", resource_path("byletter/F") %>
<%= link_to "G", resource_path("byletter/G") %>
<%= link_to "H", resource_path("byletter/H") %>
<%= link_to "I", resource_path("byletter/I") %>
<%= link_to "J", resource_path("byletter/J") %>
<%= link_to "K", resource_path("byletter/K") %>
<%= link_to "L", resource_path("byletter/L") %>
<%= link_to "M", resource_path("byletter/M") %>
<%= link_to "N", resource_path("byletter/N") %>
<%= link_to "O", resource_path("byletter/O") %>
<%= link_to "P", resource_path("byletter/P") %>
<%= link_to "Q", resource_path("byletter/Q") %>
<%= link_to "R", resource_path("byletter/R") %>
<%= link_to "S", resource_path("byletter/S") %>
<%= link_to "T", resource_path("byletter/T") %>
<%= link_to "U", resource_path("byletter/U") %>
<%= link_to "V", resource_path("byletter/V") %>
<%= link_to "W", resource_path("byletter/W") %>
<%= link_to "X", resource_path("byletter/X") %>
<%= link_to "Y", resource_path("byletter/Y") %>
<%= link_to "Z", resource_path("byletter/Z") %>
 | <%= link_to "All", resources_path %>
</h2>
