<%= form_for(@resource, :html => { :class => "form-horizontal"} ) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :host %>
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :domain %>
    <%= f.text_field :domain %>
  </div>

  <%= f.fields_for :optionals do |optional| %>
    <div class="field">
      <%= optional.label :optionals %>
      <%= optional.text_field :name, :id => "optional_name" %>
      <%= optional.text_field :value, :id => "optional_value" %> <a class="btn btn-mini" href="#"><i class="icon-plus-sign"></i></a>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
