<h1>Database resources</h1>

<table width="100%">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Host</th>
    <th>URL</th>
    <th>Domain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.id %></td>
    <td><%= resource.title %></td>
    <td><%= resource.host %></td>
    <td><%= resource.url %></td>
    <td><%= resource.domain %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
