<p id="notice"><%= notice %></p>

<pre>
<b>Title</b><%= determine_num_of_spaces("Title", :html) %><%= @resource.title %>
<b>Host</b><%= determine_num_of_spaces("Host", :html) %><%= @resource.host %>
<b>URL</b><%= determine_num_of_spaces("URL", :html) %><%= @resource.url %>
<b>Domain</b><%= determine_num_of_spaces("Domain", :html) %><%= @resource.domain %> 
<% @resource.optionals.each do |o| %>
<b><%= o.name %></b><%= determine_num_of_spaces(o.name, :html) %><%= o.value %>
<% end %>
</pre>

Created on: <%= @resource.created_at %><br />
Last update was: <%= @resource.updated_at %>

<br /><br />

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
