<p id="notice"><%= notice %></p>

<p id="config_preview">
  <b>Title</b>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= @resource.title %>
</p>

<p id="config_preview">
  <b>Host</b>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= @resource.host %>
</p>

<p id="config_preview">
  <b>URL</b>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= @resource.url %>
</p>

<p id="config_preview">
  <b>Domain</b>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= @resource.domain %>
</p>

<p id="config_preview">
  <% @resource.optionals.each do |o| %>
  <b><%= o.name %></b>&nbsp;&nbsp;&nbsp;&nbsp;<%= o.value %>
  <% end %>
</p>

<br />

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
